// Подключать другие файлы та, можно и через @import, но это уже устаревшее, сейчас через @use

// тут обнуляющие стили, их просто везде контрол цэ контрол вэ, надо для кроссбраузерности
@use 'null';

.app {
  // Всё приложение обопрачиваем в такой клаасс, это там даст гарантию отсутсиватя горизонтю прокрутки
  width: 100%;
  overflow: hidden;

  // это просто стили уже дальше 
  background: #000;
  min-height: 100vh;

}