// Подключать другие файлы та, можно и через @import, но это уже устаревшее, сейчас через @use

// тут обнуляющие стили, их просто везде контрол цэ контрол вэ, надо для кроссбраузерности
@use 'null';

.app {
  // Всё приложение обопрачиваем в такой клаасс, это там даст гарантию отсутсиватя горизонтю прокрутки
  width: 100%;
  overflow: hidden;

  // это просто стили уже дальше 
  background: #000;
  min-height: 100vh;
}


.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 15px;
}

.element {
  width: 100%;
  max-width: 300px;
  border: 2px solid white;

  @media(max-width: 600px) {
    border: 2px solid red;
  }

  // называется амперсант
  // shift + 7
  &s_list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &_header {
    font-size: 20px;
    text-align: center;
    width: 100%;

    &_shotoTam {
      font-size: 15px;
    }
  }


  &_content {
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
}